# Lab 6 : DataFrames and HiveContext

Let's work with Spark SQL and DataFrames. As always, first you setup a spark context.

In [1]:
# Set up Spark Context
from pyspark import SparkContext, SparkConf

SparkContext.setSystemProperty('spark.executor.memory', '2g')
conf = SparkConf()
conf.set('spark.executor.instances', 15)
sc = SparkContext('yarn-client', 'Spark-lab6', conf=conf)

Now use Spark SQL to create a HiveContext:

In [2]:
from pyspark.sql import HiveContext
hc = HiveContext(sc)

Use HiveContext's sql() function to show all HIVE databases. 

To display the results of the Spark DataFrame in the Jupyter notebook, you can use one of the following:
* show(n): displays n rows from the dataframe as text
* toPandas(): translates the dataframe into a local Pandas DataFrame (assuming it's not too large). Then you can print the dataframe

In [3]:
hc.sql("show databases").toPandas()

    result
0  default
1     demo

Switch HIVE to use the "demo" database, again using the sql() function:

In [4]:
hc.sql("use demo")

DataFrame[result: string]

List all tables in the demo database:

In [5]:
hc.sql("show tables").toPandas()

                 tableName isTemporary
0                 airports       False
1             airports_raw       False
2                      cpi       False
3                  cpi_raw       False
4                   crimes       False
5               crimes_raw       False
6                crimes_wn       False
7                  flights       False
8              flights_raw       False
9                       fm       False
10           hotel_reviews       False
11       hotel_reviews_raw       False
12           movie_scripts       False
13                  rental       False
14              rental_raw       False
15         sentiment_words       False
16                   sf311       False
17               sf311_raw       False
18        sf_neighborhoods       False
19                stations       False
20  stations_neighborhoods       False
21              tv_scripts       False
22                  tweets       False
23              tweets_raw       False
24                 weather       False
25             weather_raw       False

Count the number of crime reports in the "crimes" table:
* use sql() to count the number of crimes
* use collect() to get the result. Extract the number of crimes itself from the resulting object
* Print the number of crimes

In [6]:
numDF = hc.sql("SELECT COUNT(*) FROM crimes")
num = numDF.collect()[0][0]
print "number of crimes reported = ", num

number of crimes reported =  1750133

Use the "DESCRIBE" SQL command to show the details about the crimes table:

In [7]:
hc.sql("DESCRIBE crimes").show()

+-----------+---------+-------+
|   col_name|data_type|comment|
+-----------+---------+-------+
| incidentid|   string|   null|
|   category|   string|   null|
|description|   string|   null|
|  dayofweek|   string|   null|
|   date_str|   string|   null|
|       time|   string|   null|
|   district|   string|   null|
| resolution|   string|   null|
|    address|   string|   null|
|  longitude|   string|   null|
|   latitude|   string|   null|
|   location|   string|   null|
|       pdid|   string|   null|
+-----------+---------+-------+

Use sql() to show the first 5 rows in the crimes dataset

In [8]:
hc.sql("SELECT * FROM crimes LIMIT 5").toPandas()

,incidentid,category,description,dayofweek,date_str,time,district,resolution,address,longitude,latitude,location,pdid
0,150331521,LARCENY/THEFT,GRAND THEFT FROM A BUILDING,Wednesday,04/22/2015,18:00,BAYVIEW,NONE,2000 Block of EVANS AV,-122.396315619126,37.7478113603031,"(37.7478113603031, -122.396315619126)",15033152106304
1,150341605,ASSAULT,ATTEMPTED SIMPLE ASSAULT,Sunday,04/19/2015,12:15,CENTRAL,NONE,800 Block of WASHINGTON ST,-122.40672716771,37.7950566945259,"(37.7950566945259, -122.40672716771)",15034160504114
2,150341605,ASSAULT,THREATS AGAINST LIFE,Sunday,04/19/2015,12:15,CENTRAL,NONE,800 Block of WASHINGTON ST,-122.40672716771,37.7950566945259,"(37.7950566945259, -122.40672716771)",15034160519057
3,150341605,OTHER OFFENSES,CRUELTY TO ANIMALS,Sunday,04/19/2015,12:15,CENTRAL,NONE,800 Block of WASHINGTON ST,-122.40672716771,37.7950566945259,"(37.7950566945259, -122.40672716771)",15034160528010
4,150341702,NON-CRIMINAL,"AIDED CASE, MENTAL DISTURBED",Sunday,04/19/2015,12:03,MISSION,EXCEPTIONAL CLEARANCE,1100 Block of SOUTH VAN NESS AV,-122.416557578218,37.7547485110398,"(37.7547485110398, -122.416557578218)",15034170264020